body{
    background-color:#FBF7F5;
}

.paginate {
    margin-left: 0px;
    margin-top: 2%;
    
}
.paginate a {
    background-color:  #FBF7F5;
    color: #9a2f43;
    
   
}

.paginate a.active {
    background-color: #fbf7f5;
    
}
.page-item.active .page-link{
    background-color: #C9867E;
    opacity: 60%;
    border: 1px solid #9a2f43;
}

.paginate a:hover:not(.active) {
    background-color:  #F5CBB9;
    color: #9a2f43;
}
